$smallPercentage: 30%;
$mediumPercentage: 45%;
$largePercentage: 75%;
$skeletonCornerWidth: 6px;

@function mid-corner-position($percentage) {
  @return calc(#{concealer-width($percentage, true)} + #{corner-position($percentage)});
}

@function corner-position($percentage) {
  @return calc(#{$percentage} - #{$skeletonCornerWidth});
}

@function concealer-width($percentage, $middle: false) {
  $divider: if($middle, 2, 1);
  @return calc((100% - #{$percentage})/#{$divider});
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.inner {
  position: relative;
  height: 11px;
  &.small {
    margin-bottom: 10px;
    &.first {
      margin-bottom: 23px;
    }
  }
  &.medium {
    margin-bottom: 16px;
    &.first {
      margin-bottom: 36px;
    }
  }
  &.large {
    margin-bottom: 22px;
    &.first {
      margin-bottom: 50px;
    }
  }
}

.animatedBackground {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, #dfe5eb 9%, #eef2ef 18%, #dfe5eb 33%);
  background-size: 1000px 11px;
  height: 11px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.concealers {
  position: absolute;
  width: 100%;
}

.concealerRow {
  display: flex;
  width: 100%;
  position: relative;
}

.chunk {
  height: 11px;
  &.small {
    width: $smallPercentage;
  }
  &.medium {
    width: $mediumPercentage;
  }
  &.large {
    width: $largePercentage;
  }
}

.concealer {
  background: white;
  height: 11px;
  &.small {
    width: concealer-width($smallPercentage);
    &.middle {
      width: concealer-width($smallPercentage, true);
    }
  }
  &.medium {
    width: concealer-width($mediumPercentage);
    &.middle {
      width: concealer-width($mediumPercentage, true);
    }
  }
  &.large {
    width: concealer-width($largePercentage);
    &.middle {
      width: concealer-width($largePercentage, true)
    }
  }
}

.skeletonCorner {
  width: 6px;
  height: 11px;
  background: url(../assets/skeleton-corner.svg) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  &.rightSkeletonCorner {
    transform: scaleX(-1);
    &.small {
      left: corner-position($smallPercentage);
      &.middle {
        left: mid-corner-position($smallPercentage);
      }
    }
    &.medium {
      left: corner-position($mediumPercentage);
      &.middle {
        left: mid-corner-position($mediumPercentage);
      }
    }
    &.large {
      left: corner-position($largePercentage);
      &.middle {
        left: mid-corner-position($largePercentage);
      }
    }
  }
  &.middle {
    &.small {
      left: concealer-width($smallPercentage, true);
    }
    &.medium {
      left: concealer-width($mediumPercentage, true);
    }
    &.large {
      left: concealer-width($largePercentage, true)
    }
  }
}

:global(.rtl) {
  .animatedBackground {
    animation-name: placeHolderShimmer;
    animation-direction: reverse;
  }

  .skeletonCorner {
    right: 0;
    left: unset;
    transform: scaleX(-1);
    &.rightSkeletonCorner {
      transform: none;
      &.small {
        right: corner-position($smallPercentage);
      }
      &.medium {
        right: corner-position($mediumPercentage);
      }
      &.large {
        right: corner-position($largePercentage);
      }
    }
  }
}
